# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

# Ignore everything by default
*

# Include only what's needed for static serving
!app.yaml
!dist/
!dist/**
