# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore.

.git
.gitignore
node_modules/
src/
public/
*.md
*.lock
vite.config.js
.vscode/
