extends layout

block content
  div(id='body', class='contact')
    div(class='header')
      div 
        h1 Contact
    div(class='body')
      div
        div
          img(src=image.src, alt=image.alt)/
          h1 #{address}
          p #{text}
